/* Dar el efecto de Fade cuando cargan todos los elementos de la pagina */
* {
  transition: 0.3s;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logo {
  position: relative;
}
.logo i {
  margin-top: 20px;
  margin-left: 50px;
  font-size: 32px;
  margin-right: 12px;
}
.logo span {
  font-weight: bolder;
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
}
main {
  margin-top: 120px;
}
.principal-text {
  font-weight: bolder;
  font-size: 22px;
  margin-bottom: 8px;
}
.centrar-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}
.token-oauth {
  margin: 8px;
  border: 1px solid rgb(216, 216, 216);
  padding: 10px;
  display: inline-block;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.token-oauth:hover {
    transform: scale(1.01);
    border: 1px solid rgb(181, 181, 181);
}
.fa-facebook {
    color: #3764c0;
}